~*
__pycache__
.mypy_cache
ipch

**/*.md

/*Books*/C - KNK/**/*.exe

##########################################################################
# DO NOT CHANGE BELOW AGAIN IF YOU ARE NOT PREPARED FOR LARGE FILE ISSUE #
##########################################################################

# Save large files to the OneDrive ONLY.
**/*.mp4
**/*.mkv
**/*.mov

**/*.pdf
**/*.ppt
**/*.hwp
