<div class="product">
  <div class="product-image">
    <img :src="image" /><br />
    <a :href="image">click to enlarge</a>
  </div>

  <div class="product-info">
    <h1>{{ title }}</h1>

    <span v-if="inventory > 10">In Stock</span>
    <span v-else-if="inventory > 0">Almost sold out!</span>
    <span v-else :class="{'info--outOfStock': inventory <= 0}"
      >Out of Stock</span
    >
    <span v-show="inventory > 0">({{ inventory }} left.)</span>
    <p>{{ sale }}</p>

    <hr />

    <h2>Variants</h2>

    <p>Fabric</p>
    <ul>
      <li v-for="detail in details">
        {{ detail }}
      </li>
    </ul>

    <p>Size</p>
    <ul>
      <li v-for="size in sizes">
        {{ size }}
      </li>
    </ul>

    <p>Color</p>

    <div
      class="color-box"
      :style="[styleObject_color_box, {backgroundColor: variant.color}]"
      v-for="(variant, index) in variants"
      :key="variant.id"
      @mouseover="updateProduct(index)"
    ></div>

    <hr />

    <p>{{ description }}</p>

    <button
      @click="addToCart"
      :disabled="inventory <= 0"
      :class="[classObject_add_btn, inventory <= 0 ? 'btn--inactive' : 'btn--active']"
    >
      Add to Cart
    </button>
    <button @click="removeCart">Remove Cart</button>

    <div class="cart">
      <p>Cart ({{ cart }})</p>
    </div>
  </div>
</div>
